<configuration>
    <springProfile name="local">
        <property name="LOG_DIR" value="./log/listener" />
    </springProfile>

    <springProfile name="prod">
        <property name="LOG_DIR" value="/data/listener" />
    </springProfile>
    
    <property name="STAGED_PATH" value="${LOG_DIR}/staged/staged_event_listener" />
    <property name="REFINED_PATH" value="${LOG_DIR}/refined/refined_event_listener" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="stagedFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${STAGED_PATH}.%d.{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="refinedFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${REFINED_PATH}.%d.{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="stagedLog" level="INFO">
        <appender-ref ref="stagedFile" />
    </logger>

    <logger name="refinedLog" level="INFO">
        <appender-ref ref="refinedFile" />
    </logger>

    <root level="INFO">
        <appender-ref ref="console" />
    </root>
</configuration>